.container {
    color: white;
    background-color: black;
    padding: 50px;
    margin: 0 50px;
}

.content-card {
    background-color: rgba(208, 87, 87, 0.35);
    padding: 20px;
    border-radius: 20px;
    color: white;
}