{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Detail
{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container"><h1 class="mt-5">{{ blog.title }}</h1>
            <span class="fw-bold"><i class="bi bi-person-fill"></i> Author: {{ blog.author }} | </span>
            <span class="badge rounded-pill text-bg-secondary"># {{ blog.type }}</span>

            <p class="lead my-5">{{ blog.content }}</p>
            <p>

                {% if blog.image %}
                    <img class="img-cover" src="{{ blog.image.url }}" alt="rasm">
                {% else %}
                    <svg aria-label="Placeholder: Thumbnail"
                         class="bd-placeholder-img card-img-top"
                         height="225"
                         preserveAspectRatio="xMidYMid slice" role="img"
                         width="100%"
                         xmlns="http://www.w3.org/2000/svg"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="40%" y="50%" fill="#eceeef"
                              dy=".3em">{{ blog.title }}</text>
                    </svg>
                {% endif %}


            </p>
            <i class="bi bi-calendar-date"></i> {{ blog.created_at|timesince }} ago
        </div>
    </main>

    {#Comments#}
    <hr>
    <form method="POST" action="{% url 'detail' blog.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button class="btn btn-outline-secondary float-end" type="submit" id="button-addon2">Send Comment</button>
    </form>

    <p class="fs-3">Comments {{ comments.count }}</p>
    <div style="height: 550px; padding: 20px; overflow-y: auto;" class="scroll">
        {% if comments %}

            {% for comment in comments %}

                <img style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; display: inline;"
                     src="{{ comment.author.profile.image.url }}" alt="rasm">
                <span>{{ comment.author.get_full_name }}: @{{ comment.author.username }}</span>
                <p>{{ comment.message }}</p>
            {% endfor %}


        {% else %}
            <p>Hozircha komment yo'q</p>
        {% endif %}
    </div>

{% endblock %}