{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="card my-2">
        <div class="card-header">
            <p class="fs-3 text-primary">Login</p>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <p>{{ form|crispy }}</p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}